<!DOCTYPE html>
<html>
<head>
  <title>TrTemplate</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <% if @current_user %>
    Hiya, <%= @current_user.display_name %>!
  <% else %>
    <%= link_to 'Login with TaskRabbit', "auth/taskrabbit" %>
  <% end %>
</header>
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
<% end %>
<%= yield %>

</body>
</html>
